.sidebyside {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sidebyside * {
  margin: 0.5rem;
}

.home {
  margin: 2rem;
}

.page * {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page {
  display: block;
  width: 100%;
  margin: 0 auto;
}
